body{
background-color: rgb(63, 2, 75);
color:white;
}
section{
    background-color: rgb(243, 189, 243);
    padding-top: 77px;
    padding-bottom: 77px;
    display: flex;
    justify-content: center;
}

.primeira chamada{
    margin-right:5%;
}
    .maisvideos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
}
    

header  {
    margin: 55px;
    background-color: rgb(241, 152, 237);
    text-size-adjust: 99px;
    justify-content: center;
    border: botom 3px rgb(#EB01CD) padding 29px;
}




