body{
background-color: blueviolet;
color:black;
}
header  {
    margin: 55px;
    background-color: aqua;
    text-size-adjust: 99px;
    justify-content: center;
    border: solid 3px rgb(#49AAEB);
}

section {
    background-color: black;
    margin: 55px;
    display: flex;
}


